{
	"de": {
		"intro": "Willkommen bei der Umfrage zu X",
		"q1": "Wie nutzen Sie X?",
		"q1a1": "Privat",
		"q1a2": "Geschäftlich",
		"q1a3": "Beides",
		"q1a4": "Anders",
		"q2": "Die Anwendung ...",
		"q2al": "ist leicht verständlich",
		"q2ah": "ist kompliziert",
		"q2bl": "ist träge",
		"q2bh": "ist schnell",
		"q2cl": "sieht modern aus",
		"q2ch": "sieht veraltet aus",
		"q3": "Was haben Sie sonst auf dem Herzen?",
		"q4a": "Ist ihnen Mobilität wichtiger oder legen Sie mehr Wert auf die Unterstützung von mehr Platformen?",
		"q4a1": "Mobilität",
		"q4a2": "Mehr Plattformen",
		"q4b": "Möchten Sie X lieber auch für MacOS oder für Linux einsetzen?",
		"q4b1": "Linux",
		"q4b2": "MacOS",
		"q5a": "Wieviele Mitarbeiter sollten dieses Produkt nutzen?",
		"q5a1": "Unter 100",
		"q5a2": "100 oder mehr",
		"q5b": "Worauf legen Sie bei der Nutzung dieses Produkts mehr Wert?",
		"q5b1": "Geschwindigkeit",
		"q5b2": "Verfügbarkeit",
		"q6": "Sie haben angegeben, dass die Anwendung kompliziert ist.",
		"q6a": "Wie sollen wir das Produkt eher verbessern?",
		"q6a1": "Ein Hilfesystem",
		"q6a2": "Mehr Erklärung direkt an den Funktionen",
		"q6b": "Wären Sie bereit 20% mehr für das Produkt zu bezahlen um diese Dinge zu verbessern?",
		"q6b1": "Ja",
		"q6b2": "Nein",
		"outro": "Danke für Ihre Antworten."
	},

	"en": {
		"intro": "Welcome to the survey about X",
		"q1": "How do you use X?",
		"q1a1": "Personal",
		"q1a2": "Business",
		"q1a3": "Both",
		"q1a4": "Other",
		"q2": "The application ...",
		"q2al": "is easy to understand",
		"q2ah": "is complicatd",
		"q2bl": "is laggy",
		"q2bh": "is fast",
		"q2cl": "looks modern",
		"q2ch": "looks old fashioned",
		"q3": "Do you have something else on you mind?",
		"q4a": "What do you prefer? Mobility or support of more platforms?",
		"q4a1": "Mobility",
		"q4a2": "More platforms",
		"q4b": "Would you like to use X rather for MacOS or for Linux?",
		"q4b1": "Linux",
		"q4b2": "MacOS",
		"q5a": "How many employees would use this product?",
		"q5a1": "Less than 100",
		"q5a2": "100 or more",
		"q5b": "What do you prefer more when using this product?",
		"q5b1": "Speed",
		"q5b2": "Availability",
		"q6": "You've stated the application is complicated.",
		"q6a": "If you could choose what to improve, what do you prefer?",
		"q6a1": "A Help-System",
		"q6a2": "More assistance directly at a function",
		"q6b": "Would you pay 20% more for this product to improve these things?",
		"q6b1": "Yes",
		"q6b2": "No",
		"outro": "Thanks for your answers."
	}
}
